<div id='maintenance_alert'>
    <%= link_to_remote 'x', :url => {:controller => 'maintenance', :action => 'hide'}, :before => "$('maintenance_alert').hide()", :html => {:id => 'close_maint'} %>
    <h3>Maintenance</h3>
    <p>
        The site will be down for a scheduled maintenance between <span class='maint_time'><%= @maintenance_start_time.strftime('%B %d, %Y %I:%M %p ') %></span>
        and <span class='maint_time'><%= @maintenance_end_time.strftime('%B %d, %Y %I:%M %p') %></span>
    </p>
</div>
